body {
    background-color: rgb(182, 182, 182);
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.main-ui{
    /*border: black 5px solid;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.main-ui img{
    margin: -100px; /*Crops our image*/
}

#scoreHeader{
    display:flex;
    justify-content: center;
    gap:50px;

}

#resetButton{
    margin-top:20px;
}


#scoreHeader p{
    border: solid purple 5px;
    border-radius: 10px;
    padding: 10px;
}

.gameWindow {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid purple 5px;
    border-radius: 10px;
    min-width: 800px;
    max-width: 800px;
    
}

.buttons{
    display:flex;
    justify-content: space-evenly;
    gap:100px;
}
